{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>Profile page</h1>

<div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img class="profile-pic" src="{{user.profile_image.url}}" alt="Profile-image">
            </button>
            <span class="name mt-3">{{user.first_name}} {{user.last_name}}</span>
            <span class="idd">@{{user.username}}</span>
            <span class="idd">{{user.email}}</span>
            <div class=" d-flex mt-2">
                    <a class="btn btn-dark" href="{% url 'users:profile-edit' %}">Profile-edit</a>
            </div>
            <div class=" px-2 rounded mt-4 date ">
                <span class="join">Joined {{user.date_joined|date:"M d, Y"}}</span>
            </div>
</div>

{% endblock %}